* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header .headerContainer {
  max-width: 900px;
  margin: 40px auto;
}

img.powered {
  width: 150px;
}

div.container {
  display: flex;
  max-width: 900px;
  margin: auto;
}

div.container .leftSide {
  flex: 1;
  margin-right: 40px;
}

div.container .rightSide {
  margin-left: 40px;
  flex: 1;
}